<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!-- ナビバー（ログイン前） -->
<div th:fragment="navbar1">
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<!-- ナビヘッダ -->
			<div class="navbar-header">
				<div class="navbar-brand"><strong>月報管理システム</strong></div>
			</div>
		</div>
	</nav>
</div>


<!-- ナビバー（ログイン後） -->
<div th:fragment="navbar2">
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<!-- ナビヘッダ -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-content">
					<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
				<div class="navbar-brand"><strong>月報管理システム</strong></div>
			</div>

			<!-- ナビ -->
			<div class="collapse navbar-collapse" id="nav-content">
				<ul class="nav navbar-nav navbar-left">
					<!-- デザイン -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">デザイン<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#" onclick="changeStyle('Cerulean');">Cerulean</a></li>
							<li><a href="#" onclick="changeStyle('Cosmo');">Cosmo</a></li>
							<li><a href="#" onclick="changeStyle('Cyborg');">Cyborg</a></li>
							<li><a href="#" onclick="changeStyle('Darkly');">Darkly</a></li>
							<li><a href="#" onclick="changeStyle('Flatly');">Flatly</a></li>
							<li><a href="#" onclick="changeStyle('Journal');">Journal</a></li>
							<li><a href="#" onclick="changeStyle('Lumen');">Lumen</a></li>
							<li><a href="#" onclick="changeStyle('Paper');">Paper</a></li>
							<li><a href="#" onclick="changeStyle('Readable');">Readable</a></li>
							<li><a href="#" onclick="changeStyle('Sandstone');">Sandstone</a></li>
							<li><a href="#" onclick="changeStyle('Simplex');">Simplex</a></li>
							<li><a href="#" onclick="changeStyle('Slate');">Slate</a></li>
							<li><a href="#" onclick="changeStyle('Spacelab');">Spacelab</a></li>
							<li><a href="#" onclick="changeStyle('Superhero');">Superhero</a></li>
							<li><a href="#" onclick="changeStyle('United');">United</a></li>
							<li><a href="#" onclick="changeStyle('Yeti');">Yeti</a></li>
						</ul>
					</li>
					<!-- 設定 -->
					<!-- <li><a href="#">設定<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></a></li> -->
					<!-- メニュー -->
					<li><a th:href="@{/menu}" href="./メニュー.html" id="navbarMenu">メニュー<span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
					<!-- ログアウト -->
					<li><a th:href="@{/logout}" href="./ログイン.html" id="navbarLogout">ログアウト<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<!-- ユーザ情報 -->
					<li class="navbar-brand" id="navbarUserNm">
						<small>ユーザ名：<span sec:authentication="principal.userNm"></span></small>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>

</html>