<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>システムエラー</title>

	<!-- 共通JS/CSS -->
	<link th:replace="html/include/include_lib"></link>
</head>
<body>
<form>

	<!-- ナビバー -->
	<div th:replace="html/include/include_navbar::navbar1"></div>

	<!-- container -->
	<div class="container">
		<!-- 画面タイトル-->
		<div class="py-4"><h4>システムエラー</h4></div>

		<div class="alert alert-danger width30">
			システムエラーが発生しました。<br />
			<a th:href="@{/login}" class="alert-link">ログイン画面</a>に戻ってやり直してください。
		</div>

	</div><!-- /container -->

</form>
</body>
</html>