<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>メニュー画面</title>

	<!-- jQuery -->
	<script th:src="@{/fw/jquery/js/jquery-3.1.1.min.js}" src="../../static/fw/jquery/js/jquery-3.1.1.min.js"></script>
	<script th:src="@{/fw/jquery/js/jquery.blockUI.js}" src="../../static/fw/jquery/js/jquery.blockUI.js"></script>
	<!-- bootstrap -->
	<link rel="stylesheet" id="myTheme" th:href="@{|/fw/bootstrap/css/bootswatch-theme-${theme}.min.css|}" href="../../static/fw/bootstrap/css/bootswatch-theme-Cerulean.min.css" />
	<script th:src="@{/fw/bootstrap/js/bootstrap.min.js}" src="../../static/fw/bootstrap/js/bootstrap.min.js"></script>
	<!-- datepicker -->
	<link rel="stylesheet" th:href="@{/fw/datepicker/css/bootstrap-datepicker3.min.css}" href="../../static/fw/datepicker/css/bootstrap-datepicker3.min.css" />
	<script th:src="@{/fw/datepicker/js/bootstrap-datepicker.min.js}" src="../../static/fw/datepicker/js/bootstrap-datepicker.min.js"></script>
	<script th:src="@{/fw/datepicker/locales/bootstrap-datepicker.ja.min.js}" src="../../static/fw/datepicker/locales/bootstrap-datepicker.ja.min.js"></script>
	<!-- DataTables -->
	<link rel="stylesheet" th:href="@{/fw/DataTables/media/css/dataTables.bootstrap.min.css}" href="../../static/fw/DataTables/media/css/dataTables.bootstrap.min.css" />
	<script th:src="@{/fw/DataTables/media/js/jquery.dataTables.min.js}" src="../../static/fw/DataTables/media/js/jquery.dataTables.min.js"></script>
	<script th:src="@{/fw/DataTables/media/js/dataTables.bootstrap.min.js}" src="../../static/fw/DataTables/media/js/dataTables.bootstrap.min.js"></script>
	<!-- 共通 -->
	<script th:src="@{/js/com/common.js}" src="../../static/js/com/common.js"></script>
	<script th:src="@{/js/com/control.js}" src="../../static/js/com/control.js"></script>
	<link rel="stylesheet" th:href="@{/css/com/common.css}" href="../../static/css/com/common.css" />
	<!-- 個別 -->
	<script th:src="@{/js/menu.js}" src="../../static/js/menu.js"></script>
</head>
<body>
<form th:action="@{/}" th:object="${menuForm}" id="formMain" method="post" th:novalidate="${novalidate}">

	<!-- ナビバー -->
	<div th:replace="html/include/include_navbar::navbar2"></div>

	<!-- container -->
	<div class="container">
		<!-- 画面サイズ指定 -->
		<div class="row" style="max-width: 80em">

			<!-- ヘッダ -->
			<div class="page-header">
				<h3>メニュー画面</h3>
			</div>

			<!-- メッセージ -->
			<div th:replace="html/include/include_message::message" ></div>

			<!-- メニュー -->
			<div>
				<!-- メニュータブ -->
				<ul class="nav nav-tabs">
					<li role="presentation" class="active"><a href="#">メニュー</a></li>
				</ul>
				<!-- メニュー明細 -->
				<div class="list-group" id="menuList">
					<div th:if="*{principal.roleAdmin}">
						<button type="submit" name="M001" class="list-group-item" ><span class="glyphicon glyphicon glyphicon-hand-right"></span>　ユーザ一覧</button>
						<button type="submit" name="M002" class="list-group-item" ><span class="glyphicon glyphicon glyphicon-hand-right"></span>　ユーザ登録</button>
						<button type="submit" name="T001" class="list-group-item" ><span class="glyphicon glyphicon glyphicon-hand-right"></span>　月報一覧</button>
					</div>

					<div th:if="*{principal.roleReference}">
						<button type="submit" name="T001" class="list-group-item" ><span class="glyphicon glyphicon glyphicon-hand-right"></span>　月報一覧</button>
					</div>

					<div th:if="*{principal.roleApply}">
						<button type="submit" name="T002" class="list-group-item" ><span class="glyphicon glyphicon glyphicon-hand-right"></span>　月報申請</button>
						<button type="submit" name="T003" class="list-group-item" ><span class="glyphicon glyphicon glyphicon-hand-right"></span>　月報申請状況一覧</button>
					</div>

					<div th:if="*{principal.roleApprove}">
						<button type="submit" name="T006" class="list-group-item" ><span class="glyphicon glyphicon glyphicon-hand-right"></span>　月報承認状況一覧</button>
					</div>

					<button type="button" onclick="javascript:alert('今後実装予定')" class="list-group-item" ><span class="glyphicon glyphicon glyphicon-hand-right"></span>　パスワード変更</button>

				</div>
			</div>

		</div>
	</div>

</form>
</body>
</html>
