<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>月報承認画面</title>

	<!-- 共通JS/CSS -->
	<link th:replace="html/include/include_lib"></link>
	<!-- 個別 -->
	<script th:src="@{/js/reportApproveRegist.js}" src="../../static/js/reportApproveRegist.js"></script>
</head>
<body>
<form th:action="@{/}" th:object="${reportApproveRegistForm}" enctype="multipart/form-data" id="formMain" method="post" th:novalidate="${novalidate}">

	<!-- ナビバー -->
	<div th:replace="html/include/include_navbar::navbar2"></div>

	<!-- container -->
	<div class="container">
		<!-- 画面タイトル-->
		<div class="py-4"><h4>月報承認画面</h4></div>

		<!-- メッセージ -->
		<div th:replace="html/include/include_message::message"></div>

		<!-- メイン -->
		<div class="width40">
			<!-- 申請者 -->
			<div class="row">
				<strong class="col-sm-3">申請者</strong>
				<div class="col-sm-9">
					<p th:text="*{applyUserNm}" class="form-control-static">申請太郎</p>
				</div>
			</div>
			<!-- 承認者1 -->
			<div class="row">
				<strong class="col-sm-3">承認者１</strong>
				<div class="col-sm-9">
					<p th:text="*{approveUserNm1}" class="form-control-static">承認太郎</p>
				</div>
			</div>
			<!-- 承認者2 -->
			<div class="row">
				<strong class="col-sm-3">承認者２</strong>
				<div class="col-sm-9">
					<p th:text="*{approveUserNm2}" class="form-control-static">承認花子</p>
				</div>
			</div>
			<!-- 承認者3 -->
			<div class="row">
				<strong class="col-sm-3">承認者３</strong>
				<div class="col-sm-9">
					<p th:text="*{approveUserNm3}" class="form-control-static">承認一郎</p>
				</div>
			</div>
			<!-- 承認者4 -->
			<div class="row">
				<strong class="col-sm-3">承認者４</strong>
				<div class="col-sm-9">
					<p th:text="*{approveUserNm4}" class="form-control-static">承認一郎</p>
				</div>
			</div>
			<!-- 年月 -->
			<div class="row">
				<strong class="col-sm-3">年月</strong>
				<div class="col-sm-9">
					<p th:text="*{targetYm}" class="form-control-static">201608</p>
				</div>
			</div>
			<!-- 申請者月報 -->
			<div class="row form-group">
				<strong class="col-sm-3">申請者月報</strong>
				<div class="col-sm-9">
					<button type="submit" id="download" formnovalidate="formnovalidate" class="btn btn-link btn-sm">
						月報DL <i class="fa fa-download"></i>
					</button>
				</div>
			</div>
			<!-- 承認者月報 -->
			<div class="form-group row">
				<strong class="col-sm-3">承認者月報</strong>
				<div class="col-sm-9">
					<input type="file" name="file" id="file" accept=".xlsx" style="display:none" />
					<div class="input-group" id="fakeFile">
					  <input type="text" id="fakeFileText" required="required" placeholder="select file..." class="form-control" />
					  <span class="input-group-btn"><button type="button" class="btn btn-info">ファイル選択</button></span>
					</div>
				</div>
			</div>

			<!-- ボタン -->
			<div class="text-center">
				<button type="submit" id="back" formnovalidate="formnovalidate" class="btn btn-primary">
					<i class="fa fa-chevron-left"></i> 戻る
				</button>
				<button type="submit" id="remand" formnovalidate="formnovalidate" class="btn btn-primary">
					差戻 <i class="fa fa-ban"></i>
				</button>
				<button type="submit" id="deny" formnovalidate="formnovalidate" class="btn btn-primary">
					否認 <i class="fa fa-times"></i>
				</button>
				<button type="submit" id="approve" class="btn btn-primary">
					承認 <i class="fa fa-check"></i>
				</button>
			</div>

		</div><!-- /メイン -->

	</div><!-- /container -->

</form>
</body>
</html>
