<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>月報一覧画面</title>

	<!-- 共通JS/CSS -->
	<link th:replace="html/include/include_lib"></link>
	<!-- 個別 -->
	<script th:src="@{/js/reportList.js}" src="../../static/js/reportList.js"></script>
</head>
<body>
<form th:action="@{/}" th:object="${reportListForm}" id="formMain" method="post" th:novalidate="${novalidate}">

	<!-- ナビバー -->
	<div th:replace="html/include/include_navbar::navbar2"></div>

	<!-- container -->
	<div class="container">
		<!-- 画面タイトル-->
		<div class="py-4"><h4>月報一覧画面</h4></div>

		<!-- メッセージ -->
		<div th:replace="html/include/include_message::message"></div>

		<!-- 検索条件 -->
		<div class="row">
			<!-- 年月 -->
			<div class="form-group col-sm-3">
				<strong>年月</strong>
				<div>
					<input type="text" th:value="*{condition.targetYm}" name="condition.targetYm" id="condition.targetYm" class="form-control datepicker-ym" />
				</div>
			</div>
			<!-- ボタン -->
			<div class="col-sm-9 text-right">
				<button type="submit" id="back" formnovalidate="formnovalidate" class="btn btn-primary">
					<i class="fa fa-chevron-left"></i> 戻る
				</button>
				<button type="submit" id="search" class="btn btn-primary">
					検索 <i class="fa fa-search"></i>
				</button>
				<button type="submit" id="bulkDownload" formnovalidate="formnovalidate" class="btn btn-primary">
					月報一括DL <i class="fa fa-download"></i>
				</button>
			</div>
		</div><!-- /検索条件 -->

		<hr />

		<!-- 検索結果 -->
		<div th:if="*{#lists.isEmpty(resultList) == false}">
			<!-- ページング -->
			<div th:replace="html/include/include_page::pageing" ></div>

			<!-- 検索結果テーブル -->
			<table class="table table-hover table-sm dataTable" id="resultTable">
				<!-- ヘッダ -->
				<thead class="thead-default">
					<tr>
						<th>年月</th>
						<th>申請者</th>
						<th>部署</th>
						<th>承認者１</th>
						<th>承認者２</th>
						<th>承認者３</th>
						<th>承認者４</th>
						<th>承認状況</th>
						<th>月報</th>
						<th><input type="checkbox" id="switchReportDLCheck" /></th>
					</tr>
				</thead>
				<!-- 明細 -->
				<tbody>
					<tr th:each="result,iteStatus : *{resultList}">
						<td th:text="${result.targetYm}">201606</td>
						<td th:text="${result.applyUserNm}">月報太郎</td>
						<td th:text="${result.departmentRnm}">1SOL</td>
						<td th:text="${result.approveUserNm1}">承認者１</td>
						<td th:text="${result.approveUserNm2}">承認者２</td>
						<td th:text="${result.approveUserNm3}">承認者３</td>
						<td th:text="${result.approveUserNm4}">承認者４</td>
						<td th:text="${result.statusNm}">承認済み</td>
						<td>
							<button type="submit" name="download" th:value="${iteStatus.index}" th:if="${result.reportDLFlg == true}" formnovalidate="formnovalidate" class="btn btn-link btn-sm">
								月報DL <i class="fa fa-download"></i>
							</button>
						</td>
						<td><input type="checkbox" name="reportDLCheck" th:value="${iteStatus.index}" th:if="${result.reportDLFlg == true}" /></td>
					</tr>
				</tbody>
			</table>
		</div><!-- /検索結果 -->

		<!-- 上に戻るアンカー -->
		<div th:replace="html/include/include_pageTop"></div>

	</div><!-- /container -->

	<!-- checkbox未送信対応（一覧用） -->
	<input type="hidden" name="_reportDLCheck" value="on" />
</form>
</body>
</html>
