<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>ユーザ一覧画面</title>

	<!-- jQuery -->
	<script th:src="@{/fw/jquery/js/jquery-3.1.1.min.js}" src="../../static/fw/jquery/js/jquery-3.1.1.min.js"></script>
	<!-- bootstrap -->
	<link rel="stylesheet" id="myTheme" th:href="@{|/fw/bootstrap/css/bootswatch-theme-${theme}.min.css|}" href="../../static/fw/bootstrap/css/bootswatch-theme-Cerulean.min.css" />
	<script th:src="@{/fw/bootstrap/js/bootstrap.min.js}" src="../../static/fw/bootstrap/js/bootstrap.min.js"></script>
	<!-- datepicker -->
	<link rel="stylesheet" th:href="@{/fw/datepicker/css/bootstrap-datepicker3.min.css}" href="../../static/fw/datepicker/css/bootstrap-datepicker3.min.css" />
	<script th:src="@{/fw/datepicker/js/bootstrap-datepicker.min.js}" src="../../static/fw/datepicker/js/bootstrap-datepicker.min.js"></script>
	<script th:src="@{/fw/datepicker/locales/bootstrap-datepicker.ja.min.js}" src="../../static/fw/datepicker/locales/bootstrap-datepicker.ja.min.js"></script>
	<!-- DataTables -->
	<link rel="stylesheet" th:href="@{/fw/DataTables/media/css/dataTables.bootstrap.min.css}" href="../../static/fw/DataTables/media/css/dataTables.bootstrap.min.css" />
	<script th:src="@{/fw/DataTables/media/js/jquery.dataTables.min.js}" src="../../static/fw/DataTables/media/js/jquery.dataTables.min.js"></script>
	<script th:src="@{/fw/DataTables/media/js/dataTables.bootstrap.min.js}" src="../../static/fw/DataTables/media/js/dataTables.bootstrap.min.js"></script>
	<!-- 共通 -->
	<script th:src="@{/js/com/common.js}" src="../../static/js/com/common.js"></script>
	<script th:src="@{/js/com/control.js}" src="../../static/js/com/control.js"></script>
	<link rel="stylesheet" th:href="@{/css/com/common.css}" href="../../static/css/com/common.css" />
	<!-- 個別 -->
	<script th:src="@{/js/userList.js}" src="../../static/js/userList.js"></script>
</head>
<body>
<form th:action="@{/}" th:object="${userListForm}" id="formMain" method="post" th:novalidate="${novalidate}">

	<!-- ナビバー -->
	<div th:replace="html/include/include_navbar::navbar2"></div>

	<!-- container -->
	<div class="container">
		<!-- 画面サイズ指定 -->
		<div class="row" style="max-width: 80em">

			<!-- ヘッダ -->
			<div class="page-header">
				<h2>ユーザ一覧画面</h2>
			</div>

			<!-- メッセージ -->
			<div th:replace="html/include/include_message::message" ></div>

			<!--
				検索条件
			 -->
			<div class="form-horizontal">
				<!-- ユーザ -->
				<div class="form-group">
					<label class="col-sm-3 control-label">ユーザ</label>
					<div class="col-sm-9 form-inline">
						<input type="text" th:value="*{condition.userId}" name="condition.userId" id="condition.userId" placeholder="ユーザID（完全一致）" class="form-control" />
						<input type="text" th:value="*{condition.userNm}" name="condition.userNm" id="condition.userNm" placeholder="ユーザ名（部分一致）" class="form-control" />
					</div>
				</div>
				<!-- ボタン -->
				<div class="text-center">
					<button type="submit" id="back" formnovalidate="formnovalidate" class="btn btn-primary">戻る <span class="glyphicon glyphicon-chevron-left"></span></button>
					<button type="submit" id="search" class="btn btn-primary">検索 <span class="glyphicon glyphicon-search"></span></button>
					<button type="submit" id="insert" formnovalidate="formnovalidate" class="btn btn-primary">新規 <span class="glyphicon glyphicon-chevron-right"></span></button>
				</div>
			</div>


			<!--
				検索結果
			 -->
			<div th:if="*{#lists.isEmpty(resultList) == false}">
				<!-- ページング -->
				<div th:replace="html/include/include_page::pageing" ></div>

				<!-- 検索結果テーブル -->
				<table class="table table-hover table-condensed dataTable" id="resultTable">
					<!-- ヘッダ -->
					<thead class="thead-default">
						<tr>
							<th>選択</th>
							<th>ユーザID</th>
							<th>ユーザ名</th>
							<th>メールアドレス</th>
							<th>部署</th>
							<th>承認者１</th>
							<th>承認者２</th>
							<th>承認者３</th>
							<th>役割</th>
						</tr>
					</thead>
					<!-- 明細 -->
					<tbody>
						<tr th:each="result,iteStatus : *{resultList}">
							<td><button type="submit" name="select" formnovalidate="formnovalidate" th:value="${iteStatus.index}" class="btn btn-default btn-sm">選択</button></td>
							<td th:text="${result.userId}">id0000</td>
							<td th:text="${result.userNm}">月報太郎</td>
							<td th:text="${result.email}">xxxxxxx@xxx.xx.xx</td>
							<td th:text="${result.departmentRnm}">1SOL</td>
							<td th:text="${result.approveUserNm1}">承認者１</td>
							<td th:text="${result.approveUserNm2}">承認者２</td>
							<td th:text="${result.approveUserNm3}">承認者３</td>
							<td th:text="${result.roleNm}">申請者</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>

</form>
</body>
</html>
