/* フォームバリデーションエラー */
input:invalid {
/*  border-color: red; */
  background-color: mistyrose;
}

/* 上に戻るアンカー */
#pageTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-weight : bold;
}

/* ヘッダ固定分 */
body {
  padding-top: 50px;
}

/* ツールチップ */
.tooltip {
  font-size: medium;
}