<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>

	<!-- bootstrap CSS -->
	<link rel="stylesheet" id="mystyle" href="../fw/bootstrap/css/bootswatch-theme-Cerulean.css">
	<!-- jQuery -->
	<script src="../fw/jquery/js/jquery-2.2.3.js"></script>
	<!-- bootstrap JS -->
	<script src="../fw/bootstrap/js/bootstrap.js"></script>
	<!-- common JS -->
	<script src="../js/com/common.js"></script>
	<!-- include navbar1 -->
	<script src="../js/include/include_navbar1.js"></script>

</head>
<body>
<form class="main">

	<!-- ナビバー -->
	<div id="navbar"></div>

	<!-- メイン -->
	<div class="container">
		<!-- 画面サイズ指定 -->
		<div style="max-width: 20em">

			<!-- ヘッダ -->
			<div class="page-header">
				<h2>ログイン画面</h2>
			</div>

			<!-- サインイン -->
			<div>
				<!-- ID -->
				<div class="form-group">
					<label class="control-label">ID</label>
					<input type="text" value="" class="form-control" placeholder="ID" autofocus>
				</div>
				<!-- パスワード -->
				<div class="form-group">
					<label class="control-label">パスワード</label>
					<input type="text" value="" class="form-control" placeholder="パスワード">
				</div>
				<button type="button" class="btn btn-primary" onclick="location.href='./メニュー.html'">ログイン<span class="glyphicon glyphicon-chevron-right"></span></button>
			</div><!-- /サインイン -->

		</div><!-- /画面サイズ指定 -->
	</div><!-- /container -->

</form>
</body>
</html>
