<!--/* eclipseの警告対策 */-->
<!--/*--><html lang="ja" xmlns:th="http://www.thymeleaf.org"><!--*/-->

	<!-- jQuery pulgin -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
	<!-- datepicker -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.standalone.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.ja.min.js"></script>
	<!-- DataTables -->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" />
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
	<!-- 共通 -->
	<script th:src="@{/js/com/rms.js}" src="../../static/js/com/rms.js"></script>
	<script th:src="@{/js/com/common.js}" src="../../static/js/com/common.js"></script>
	<script th:src="@{/js/com/control.js}" src="../../static/js/com/control.js"></script>
	<link rel="stylesheet" th:href="@{/css/com/common.css}" href="../../static/css/com/common.css" />
