<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<!-- メッセージ -->
<div th:fragment="message">
	<!-- エラー -->
	<div id="messageDanger">
		<!-- エラー(入力チェック) -->
		<div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger" role="alert">
			<i class="fa fa-exclamation-triangle"></i>　エラー
			<ul><li th:each="err : ${#fields.allErrors()}" th:text="${err}" /></ul>
		</div>
		<!-- エラー(業務ロジックチェック) -->
		<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>　エラー
			<ul><li th:text="${errorMessage}" /></ul>
		</div>
	</div>
	<!-- 通常 -->
	<div id="messageSuccess">
		<div th:if="${successMessage}" class="alert alert-success" role="alert">
			<i class="fa fa-info-circle"></i>　成功
			<ul><li th:text="${successMessage}" /></ul>
		</div>
	</div>
</div>
</html>