<!--/* eclipseの警告対策 */-->
<!--/*--><html lang="ja" xmlns:th="http://www.thymeleaf.org"><!--*/-->

	<!-- jQuery pulgin -->
	<script th:src="@{/fw/jquery/js/jquery.blockUI.js}" src="../../static/fw/jquery/js/jquery.blockUI.js"></script>
	<!-- datepicker -->
	<link rel="stylesheet" th:href="@{/fw/datepicker/css/bootstrap-datepicker3.min.css}" href="../../static/fw/datepicker/css/bootstrap-datepicker3.min.css" />
	<script th:src="@{/fw/datepicker/js/bootstrap-datepicker.min.js}" src="../../static/fw/datepicker/js/bootstrap-datepicker.min.js"></script>
	<script th:src="@{/fw/datepicker/locales/bootstrap-datepicker.ja.min.js}" src="../../static/fw/datepicker/locales/bootstrap-datepicker.ja.min.js"></script>
	<!-- DataTables -->
	<link rel="stylesheet" th:href="@{/fw/DataTables/media/css/dataTables.bootstrap.min.css}" href="../../static/fw/DataTables/media/css/dataTables.bootstrap.min.css" />
	<script th:src="@{/fw/DataTables/media/js/jquery.dataTables.min.js}" src="../../static/fw/DataTables/media/js/jquery.dataTables.min.js"></script>
	<script th:src="@{/fw/DataTables/media/js/dataTables.bootstrap.min.js}" src="../../static/fw/DataTables/media/js/dataTables.bootstrap.min.js"></script>
	<!-- 共通 -->
	<script th:src="@{/js/com/common.js}" src="../../static/js/com/common.js"></script>
	<script th:src="@{/js/com/control.js}" src="../../static/js/com/control.js"></script>
	<link rel="stylesheet" th:href="@{/css/com/common.css}" href="../../static/css/com/common.css" />
