<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!-- ナビバー（ログイン前） -->
<div th:fragment="navbar1">
	<input type="hidden" id="theme" name="theme" th:value="${theme}" /><!-- テーマ -->
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<!-- ナビヘッダ -->
			<div class="navbar-header">
				<div class="navbar-brand"><strong>月報管理システム</strong></div>
			</div>
		</div>
	</nav>
</div>


<!-- ナビバー（ログイン後） -->
<div th:fragment="navbar2">
	<input type="hidden" id="theme" name="theme" th:value="${theme}" /><!-- テーマ -->
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<!-- ナビヘッダ -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-content">
					<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
				<div class="navbar-brand"><strong>月報管理システム</strong></div>
			</div>

			<!-- ナビ -->
			<div class="collapse navbar-collapse" id="nav-content">
				<ul class="nav navbar-nav navbar-left">
					<!-- デザイン -->
					<li class="dropdown">
						<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">デザイン<span class="caret"></span></a>
						<ul class="dropdown-menu" id="navbarTheme">
							<li><a href="javascript:void(0);">Cerulean</a></li>
							<li><a href="javascript:void(0);">Cosmo</a></li>
							<li><a href="javascript:void(0);">Cyborg</a></li>
							<li><a href="javascript:void(0);">Darkly</a></li>
							<li><a href="javascript:void(0);">Flatly</a></li>
							<li><a href="javascript:void(0);">Journal</a></li>
							<li><a href="javascript:void(0);">Lumen</a></li>
							<li><a href="javascript:void(0);">Paper</a></li>
							<li><a href="javascript:void(0);">Readable</a></li>
							<li><a href="javascript:void(0);">Sandstone</a></li>
							<li><a href="javascript:void(0);">Simplex</a></li>
							<li><a href="javascript:void(0);">Slate</a></li>
							<li><a href="javascript:void(0);">Spacelab</a></li>
							<li><a href="javascript:void(0);">Superhero</a></li>
							<li><a href="javascript:void(0);">United</a></li>
							<li><a href="javascript:void(0);">Yeti</a></li>
						</ul>
					</li>
					<!-- 設定 -->
					<!-- <li><a href="javascript:void(0);">設定<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></a></li> -->
					<!-- メニュー -->
					<li><a th:href="@{/menu}" href="./メニュー.html" id="navbarMenu">メニュー<span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
					<!-- ログアウト -->
					<li><a th:href="@{/logout}" href="./ログイン.html" id="navbarLogout">ログアウト<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<!-- ユーザ情報 -->
					<li class="navbar-brand">
						<small>ユーザ名：<span sec:authentication="principal.userNm" id="navbarUserNm"></span></small>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>

</html>