<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>システムエラー</title>

	<!-- bootstrap CSS -->
	<link rel="stylesheet" id="myTheme" th:href="@{|/fw/bootstrap/css/bootswatch-theme-${theme}.min.css|}" href="../../static/fw/bootstrap/css/bootswatch-theme-Cerulean.min.css" />
	<!-- jQuery -->
	<script th:src="@{/fw/jquery/js/jquery-3.1.1.min.js}" src="../../static/fw/jquery/js/jquery-3.1.1.min.js"></script>
	<!-- bootstrap JS -->
	<script th:src="@{/fw/bootstrap/js/bootstrap.min.js}" src="../../static/fw/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>
<form>

	<!-- ナビバー -->
	<div th:replace="/html/include/include_navbar::navbar1"></div>

	<!-- container -->
	<div class="container">
		<!-- 画面サイズ指定 -->
		<div class="row" style="max-width: 30em">

			<!-- ヘッダ -->
			<div class="page-header">
				<h2>システムエラー</h2>
			</div>

			<div class="alert alert-danger">
				システムエラーが発生しました。<br />
				<a th:href="@{/login}" href="./ログイン.html" class="alert-link">ログイン画面</a>に戻ってやり直してください。
			</div>

		</div>
	</div>

</form>
</body>
</html>