<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>エラー</title>

    <!-- bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/fw/bootstrap/css/bootswatch-theme-Cerulean.css}" href="../../static/fw/bootstrap/css/bootswatch-theme-Cerulean.css" />
    <!-- jQuery -->
    <script th:src="@{/fw/jquery/js/jquery-2.2.3.js}" src="../../static/fw/jquery/js/jquery-2.2.3.js"></script>
    <!-- bootstrap JS -->
    <script th:src="@{/fw/bootstrap/js/bootstrap.js}" src="../../static/fw/bootstrap/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <div class="alert alert-danger">
            エラーが発生しました。<a th:href="@{/}" href="./ログイン.html">ログイン画面</a>に戻ってやり直してください。
    </div>
</div>
</body>
</html>