<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>月報申請状況一覧画面</title>

	<!-- jQuery -->
	<script th:src="@{/fw/jquery/js/jquery-3.1.1.min.js}" src="../../static/fw/jquery/js/jquery-3.1.1.min.js"></script>
	<!-- bootstrap -->
	<link rel="stylesheet" id="myStyle" th:data="${theme}" th:href="@{|/fw/bootstrap/css/bootswatch-theme-${theme}.css|}" href="../../static/fw/bootstrap/css/bootswatch-theme-Cerulean.css" />
	<script th:src="@{/fw/bootstrap/js/bootstrap.min.js}" src="../../static/fw/bootstrap/js/bootstrap.min.js"></script>
	<!-- datepicker -->
	<link rel="stylesheet" th:href="@{/fw/datepicker/css/bootstrap-datepicker3.min.css}" href="../../static/fw/datepicker/css/bootstrap-datepicker3.min.css" />
	<script th:src="@{/fw/datepicker/js/bootstrap-datepicker.min.js}" src="../../static/fw/datepicker/js/bootstrap-datepicker.min.js"></script>
	<script th:src="@{/fw/datepicker/locales/bootstrap-datepicker.ja.min.js}" src="../../static/fw/datepicker/locales/bootstrap-datepicker.ja.min.js"></script>
	<!-- 共通 -->
	<script th:src="@{/js/com/common.js}" src="../../static/js/com/common.js"></script>
	<script th:src="@{/js/com/control.js}" src="../../static/js/com/control.js"></script>
	<link rel="stylesheet" th:href="@{/css/com/common.css}" href="../../static/css/com/common.css" />
	<!-- 個別 -->
	<script th:src="@{/js/reportApplyList.js}" src="../../static/js/reportApplyList.js"></script>
</head>
<body>
<form th:action="dummy" th:object="${reportApplyListForm}" id="formMain" method="post" th:novalidate="${novalidate}">

	<!-- ナビバー -->
	<div th:replace="@{/html/include/include_navbar}::navbar2"></div>

	<!-- container -->
	<div class="container">
		<!-- 画面サイズ指定 -->
		<div class="row" style="max-width: 80em">

			<!-- ヘッダ -->
			<div class="page-header">
				<h2>月報申請状況一覧画面</h2>
			</div>

			<!-- メッセージ -->
			<div th:replace="@{/html/include/include_message}::message" ></div>

			<!--
				検索結果
			 -->
			<div th:if="*{#lists.isEmpty(resultList) == false}">
				<!-- ページング -->
				<div th:replace="@{/html/include/include_page}::pageing" ></div>

				<!-- 検索結果テーブル -->
				<table class="table table-hover table-condensed" id="resultTable">
					<!-- ヘッダ -->
					<thead class="thead-default">
						<tr>
							<th>選択</th>
							<th>年月</th>
							<th>申請日</th>
							<th>承認者１</th>
							<th>承認者２</th>
							<th>承認者３</th>
							<th>承認状況</th>
							<th>月報</th>
						</tr>
					</thead>
					<!-- 明細 -->
					<tbody>
						<tr th:each="result,iteStatus : *{resultList}">
							<td>
								<button type="submit" name="select" formnovalidate="formnovalidate"
												th:value="${iteStatus.index}" th:disabled="${result.operateFlg == false}"
												class="btn btn-default btn-sm">選択</button>
							</td>
							<td th:text="${result.targetYm}">201606</td>
							<td th:text="${#temporals.format(result.applyDate, 'yyyy/MM/dd HH:mm')}">2016/05/31 20:23</td>
							<td th:text="${result.approveUserNm1}">承認者１</td>
							<td th:text="${result.approveUserNm2}">承認者２</td>
							<td th:text="${result.approveUserNm3}">承認者３</td>
							<td th:text="${result.statusNm}">承認済み</td>
							<td><button type="submit" name="download" formnovalidate="formnovalidate" th:value="${iteStatus.index}" class="btn btn-link btn-sm">月報DL<span class="glyphicon glyphicon-download"></span></button></td>
						</tr>
					</tbody>
				</table>
			</div>

			<!-- ボタン -->
			<div class="text-center">
				<button type="submit" id="back" formnovalidate="formnovalidate" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left">戻る</span></button>
			</div>

		</div>
	</div>

</form>
</body>
</html>
