<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>ユーザ一覧画面</title>

	<!-- bootstrap CSS -->
	<link rel="stylesheet" id="myStyle" th:href="@{/fw/bootstrap/css/bootswatch-theme-Cerulean.css}" href="../../static/fw/bootstrap/css/bootswatch-theme-Cerulean.css" />
	<!-- jQuery -->
	<script th:src="@{/fw/jquery/js/jquery-2.2.3.js}" src="../../static/fw/jquery/js/jquery-2.2.3.js"></script>
	<!-- bootstrap JS -->
	<script th:src="@{/fw/bootstrap/js/bootstrap.js}" src="../../static/fw/bootstrap/js/bootstrap.js"></script>
	<!-- common JS -->
	<script th:src="@{/js/com/common.js}" src="../../static/js/com/common.js"></script>
	<!-- 個別 JS -->
	<script th:src="@{/js/userSearch.js}" src="../../static/js/userSearch.js"></script>
</head>
<body>
<form th:action="dummy" th:object="${userSearchForm}" id="formMain" method="post" th:novalidate="${novalidate}">

	<!-- ナビバー -->
	<div th:replace="@{/html/include/include_navbar}::navbar2"></div>

	<!-- container -->
	<div class="container">
		<!-- 画面サイズ指定 -->
		<div class="row" style="max-width: 80em">

			<!-- ヘッダ -->
			<div class="page-header">
				<h2>ユーザ一覧画面</h2>
			</div>

			<!-- メッセージ -->
			<div th:replace="@{/html/include/include_message}::message" ></div>

			<!--
				検索条件
			 -->
			<div class="form-horizontal">
				<!-- ユーザ -->
				<div class="form-group">
					<label for="user" class="col-sm-3 control-label">ユーザ</label>
					<div class="col-sm-9 form-inline">
						<input type="text" th:value="*{condition.userId}" name="condition.userId" id="condition.userId" placeholder="ユーザID（完全一致）" class="form-control" />
						<input type="text" th:value="*{condition.userNm}" name="condition.userNm" id="condition.userNm" placeholder="ユーザ名（部分一致）" class="form-control" />
					</div>
				</div>
				<!-- 検索・新規ボタン -->
				<div class="text-center">
					<button type="submit" id="search" class="btn btn-primary">検索 <span class="glyphicon glyphicon-search"></span></button>
					<button type="submit" id="insert" class="btn btn-primary">新規 <span class="glyphicon glyphicon-chevron-right"></span></button>
				</div>
			</div><!-- /検索条件 -->


			<!--
				検索結果
			 -->
			<div>
				<!-- ページング -->
				<div th:replace="@{/html/include/include_page}::pageing" ></div>

				<!-- 検索結果テーブル -->
				<table class="table table-hover table-condensed" id="resultTable">
					<!-- ヘッダ -->
					<thead class="thead-default">
						<tr>
							<th>選択</th>
							<th>ユーザID</th>
							<th>ユーザ名</th>
							<th>メールアドレス</th>
							<th>役割</th>
						</tr>
					</thead>
					<!-- 明細 -->
					<tbody>
						<tr th:each="result,iteStatus : *{resultList}">
							<td><button type="submit" formnovalidate="formnovalidate" name="select" th:value="${iteStatus.index}" class="btn btn-default btn-sm">選択</button></td>
							<td th:text="${result.userId}">id0000</td>
							<td th:text="${result.userNm}">月報太郎</td>
							<td th:text="${result.email}">xxxxxxx@xxx.xx.xx</td>
							<td th:text="${result.roleNm}">申請者</td>
						</tr>
					</tbody>
				</table>
			</div><!-- /検索結果 -->

		</div><!-- /画面サイズ指定 -->
	</div><!-- /container -->

</form>
</body>
</html>
