<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title></title>

	<!-- Thymeleaf Toymol JS(debug用) -->
	<script th:remove="all" src="../../static/fw/thymeleaf/thymol.js"></script>

	<!-- bootstrap CSS -->
	<link rel="stylesheet" id="myStyle" th:href="@{/fw/bootstrap/css/bootswatch-theme-Cerulean.css}" href="../../static/fw/bootstrap/css/bootswatch-theme-Cerulean.css" />
	<!-- jQuery -->
	<script th:src="@{/fw/jquery/js/jquery-2.2.3.js}" src="../../static/fw/jquery/js/jquery-2.2.3.js"></script>
	<!-- bootstrap JS -->
	<script th:src="@{/fw/bootstrap/js/bootstrap.js}" src="../../static/fw/bootstrap/js/bootstrap.js"></script>
	<!-- common JS -->
	<script th:src="@{/js/com/common.js}" src="../../static/js/com/common.js"></script>
	<!-- 個別 JS -->
	<script th:src="@{/js/userRegist.js}" src="../../static/js/userRegist.js"></script>
</head>
<body>
<form th:action="dummy" th:object="${userRegistForm}" id="formMain" method="post">

	<!-- ナビバー -->
	<div th:replace="@{/html/include/include_navbar}::navbar2"></div>

	<!-- メイン -->
	<div class="container">
		<!-- 画面サイズ指定 -->
		<div style="max-width: 40em">

			<!-- ヘッダ -->
			<div class="page-header">
				<h2>ユーザ登録画面</h2>
			</div>

			<!-- メッセージ -->
			<div th:replace="@{/html/include/include_message}::message" ></div>

			<!-- ユーザ登録 -->
			<div class="form-horizontal">
				<!-- ユーザID -->
				<div class="form-group">
					<label for="userId" class="col-sm-3 control-label">ユーザID</label>
					<div class="col-sm-9">
						<input type="text" th:value="*{userId}" name="userId" id="userId" class="form-control" placeholder="ユーザID" />
					</div>
				</div>
				<!-- ユーザ名 -->
				<div class="form-group">
					<label for="userNm" class="col-sm-3 control-label">ユーザ名</label>
					<div class="col-sm-9">
						<input type="text" th:value="*{userNm}" name="userNm" id="userNm" class="form-control" placeholder="ユーザ名" />
					</div>
				</div>
				<!-- メールアドレス -->
				<div class="form-group">
					<label for="email" class="col-sm-3 control-label">メールアドレス</label>
					<div class="col-sm-9">
						<input type="text" th:value="*{email}" name="email" id="email" class="form-control" placeholder="xxxx@gmail.com" />
					</div>
				</div>

				<!-- 登録・更新ボタン -->
				<div class="text-center">
					<button type="submit" name="back" id="backBtn" class="btn btn-primary">戻る<span class="glyphicon glyphicon-chevron-left"></span></button>
					<button type="submit" name="insert" id="insertBtn" class="btn btn-primary">登録<span class="glyphicon glyphicon-chevron-right"></span></button>
					<button type="submit" name="update" id="updateBtn" class="btn btn-primary">更新<span class="glyphicon glyphicon-chevron-right"></span></button>
				</div>

			</div><!-- /ユーザ登録 -->

		</div><!-- /画面サイズ指定 -->
	</div><!-- /container -->

</form>
</body>
</html>
