<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title></title>

	<!-- bootstrap CSS -->
	<link rel="stylesheet" id="myStyle" th:href="@{/fw/bootstrap/css/bootswatch-theme-Cerulean.css}" href="../../static/fw/bootstrap/css/bootswatch-theme-Cerulean.css" />
	<!-- jQuery -->
	<script th:src="@{/fw/jquery/js/jquery-2.2.3.js}" src="../../static/fw/jquery/js/jquery-2.2.3.js"></script>
	<!-- bootstrap JS -->
	<script th:src="@{/fw/bootstrap/js/bootstrap.js}" src="../../static/fw/bootstrap/js/bootstrap.js"></script>
	<!-- common JS -->
	<script th:src="@{/js/com/common.js}" src="../../static/js/com/common.js"></script>
</head>
<body>
<form class="main">

	<!-- ナビバー -->
	<div th:replace="@{/html/include/include_navbar}::navbar2">
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container-fluid">
				<!-- ナビヘッダ -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-content">
						<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button>
					<div class="navbar-brand"><strong>月報管理システム</strong></div>
				</div>

				<!-- ナビ -->
				<div class="collapse navbar-collapse" id="nav-content">
					<ul class="nav navbar-nav navbar-left">
						<!-- デザイン -->
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">デザイン<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#" onclick="changeStyle('Cerulean');">Cerulean</a></li>
								<li><a href="#" onclick="changeStyle('Cosmo');">Cosmo</a></li>
								<li><a href="#" onclick="changeStyle('Cyborg');">Cyborg</a></li>
								<li><a href="#" onclick="changeStyle('Darkly');">Darkly</a></li>
								<li><a href="#" onclick="changeStyle('Flatly');">Flatly</a></li>
								<li><a href="#" onclick="changeStyle('Journal');">Journal</a></li>
								<li><a href="#" onclick="changeStyle('Lumen');">Lumen</a></li>
								<li><a href="#" onclick="changeStyle('Paper');">Paper</a></li>
								<li><a href="#" onclick="changeStyle('Readable');">Readable</a></li>
								<li><a href="#" onclick="changeStyle('Sandstone');">Sandstone</a></li>
								<li><a href="#" onclick="changeStyle('Simplex');">Simplex</a></li>
								<li><a href="#" onclick="changeStyle('Slate');">Slate</a></li>
								<li><a href="#" onclick="changeStyle('Spacelab');">Spacelab</a></li>
								<li><a href="#" onclick="changeStyle('Superhero');">Superhero</a></li>
								<li><a href="#" onclick="changeStyle('United');">United</a></li>
								<li><a href="#" onclick="changeStyle('Yeti');">Yeti</a></li>
							</ul>
						</li>
						<!-- 設定 -->
						<!-- <li><a href="#">設定<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></a></li> -->
						<!-- メニュー -->
						<li><a th:href="@{/menu}" href="./メニュー.html">メニュー<span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
						<!-- ログアウト -->
						<li><a th:href="@{/logout}" href="./ログイン.html">ログアウト<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<!-- ユーザ情報 -->
						<li class="navbar-brand">
							<small>ユーザ名：<span sec:authentication="principal.userNm"></span></small>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

	<!-- メイン -->
	<div class="container">
		<!-- 画面サイズ指定 -->
		<div style="max-width: 40em">

			<!-- ヘッダ -->
			<div class="page-header">
				<h2>月報承認画面</h2>
			</div>

			<!-- 月報承認 -->
			<div class="form-horizontal">
				<!-- 年月 -->
				<div class="form-group">
					<label for="X" class="col-sm-3 control-label">年月</label>
					<div class="col-sm-9">
						<input type="month" class="form-control" value="2016-06" disabled="disabled" />
					</div>
				</div>
				<!-- 申請者月報 -->
				<div class="form-group">
					<label for="A" class="col-sm-3 control-label">申請者月報</label>
					<div class="col-sm-9">
						<button type="button" class="btn btn-link">申請者が提出した月報.xlsx<span class="glyphicon glyphicon-download"></span></button>
					</div>
				</div>
				<!-- 承認 -->
				<div class="form-group">
					<label for="A" class="col-sm-3 control-label">承認</label>
					<div class="col-sm-9">
						<input type="file" class="form-control" id="A" />
					</div>
				</div>
				<!-- 申請者・承認者1 -->
				<div class="form-group">
					<!-- 申請者 -->
					<label for="B0" class="col-sm-3 control-label">申請者</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="B0" value="作業一郎" disabled="disabled" />
					</div>
					<!-- 承認者1 -->
					<label for="B1" class="col-sm-3 control-label">承認者１</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="B1" value="承認太郎" disabled="disabled" />
					</div>
					<!-- 承認者2 -->
					<label for="B2" class="col-sm-3 control-label">承認者２</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="B2" value="承認花子" disabled="disabled" />
					</div>
					<!-- 承認者3 -->
					<label for="B3" class="col-sm-3 control-label">承認者３</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="B3" value="承認光郎" disabled="disabled" />
					</div>
				</div>
				<!-- 承認 -->
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-9">
						<button type="button" id="back" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left">戻る</span></button>
						<button type="button" class="btn btn-primary">承認<span class="glyphicon glyphicon-chevron-right"></span></button>
					</div>
				</div>
			</div><!-- /月報承認 -->

		</div><!-- /画面サイズ指定 -->
	</div><!-- /container -->

</form>
</body>
</html>
